.table{
  display: flex;
  align-self: center;
  flex-direction: column;
  background-color: #fff; 
  border: #fff solid 1px;
	border-radius: 5px;
  font-family: Helvetica;
  margin-bottom: 20px;
  width: 85%
}
@media(max-width: 640px){
	.table{

	}
}