.title{
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  margin: 30px 0 10px;
  font-size: 22px;
  color: #fff;
  font-family: Helvetica;
  font-weight: bold;
}
@media(max-width: 640px){
	.title{
    width: 85%;
    display: flex;
    justify-content: flex-start;
		font-size: 20px;
	}
}