.header{
  width: 100%;
	height: 80px;
	border-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FFFFFF;
  z-index:1;
}
.container-topo{
  width: 85%;
	height: 80px;
	border-style: none;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}
 @media (max-width: 640px){
	.header{
	  width: 100%;
    min-height: 12vh;
    display: flex;
		justify-content: center;
	}
}
.topo-right{
	display: flex;
	height: 80px;
}
.logout-button{
	color:rgb(51, 88, 164);
	height: 80px;
	line-height: 80px;
	margin: 0 20px;
	padding: 0 20px;
	cursor: pointer;
	font-weight: 600;
	font-family: Helvetica
}
.container-topo-negocios{
	width: 100%;
  max-width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
}

.image-topo-logo-negocios{
	width: 50px;
  padding-right: 2%;
} 
@media (max-width: 640px){
	.image-topo-logo-negocios{
		width: 110px;
		margin: 0 0 0 5%;
	}
}

.paragrafo-topo-negocios{
  font-size: 28px;
	font-family: Helvetica;
	padding-bottom: 2px;
}

.image-topo-logo-jojo{
	width: 130px;
}
  
@media (max-width: 640px){
	.image-topo-logo-jojo{
		width: 110px;
		margin: 0 0 0 5%;
	}
}
